<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>quiet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F50AC2D1DF9FE4A002DF741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F50AC3C1DF9FE4A002DF741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F50AC471DF9FE4A002DF741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
